<template lang="pug">
div
  UiNavigation
  UiSideNav
  Nuxt
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import UiNavigation from '@/components/ui/Navigation.vue'
import UiSideNav from '@/components/ui/SideNav.vue'

export default defineComponent({
  components: {
    UiNavigation,
    UiSideNav
  }
})
</script>
