<template lang="pug">
main.error-page
  .error-page__wrap
    .error-page__title 404
    .error-page__subtitle Произошла ошибка!
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  layout: 'pageonly'
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss/';

.error-page {
  @include flex();
  width: 100vw;
  height: 100vh;

  &__wrap {
    @include flex(center, cetner, column, 0.5vw);
  }

  &__title {
    @extend %title;
    @include size(font, 6vw);
    text-align: center;
  }

  &__subtitle {
    @extend %title;
    @include size(font, 2vw);
    text-align: center;
  }

  a {
    text-align: center;
  }
}
</style>
