<template lang="pug">
div
</template>

<script lang="ts">
// Используется только для разработки! Закоментировать перед компиляцией!
// import { defineComponent } from '@nuxtjs/composition-api'

// export default defineComponent({
//   setup() {
//     fetch('https://broking.su/apps/chessv3/backend/public/api/v3/bitrix/realestate/auth', {
//       method: 'POST',
//       headers: {
//         'Content-Type': 'application/json'
//       },
//       body: JSON.stringify({
//         AUTH_ID: '8b4e3c62005a5c3a005a5c38000000010000038d680005c841a51e02066f2663ff9e9f',
//         REFRESH_ID: '7bcd6362005a5c3a005a5c3800000001000003452ea712364bf8b6442cf7fe2ca5bfa1',
//         DOMAIN: 'b24-gzp7la.bitrix24.ru',
//         member_id: '328b427ff0d4353eda16ec461df3284b',
//         url_front_test_redirect: 'http://localhost:3000/apps/chessv3/frontend/bitrix/realestate/'
//       })
//     })
//   }
// })
</script>
