<template lang="pug">
main.favorites
  h2.favorites__title Избранное
  //- FavoritesTheList
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import FavoritesTheList from '@/components/favorites/TheList.vue'

export default defineComponent({
  components: {
    FavoritesTheList
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss/';

.favorites {
  &__title {
    @extend %title;
    @include size(font, 2.5vw);
    @include space(margin, bottom, 2vw);
    text-align: center;
    color: var(--main-nav-color);
  }
}
</style>
