<template lang="pug">
main
  HomeFilter(v-if="requestState")
  HomeSections(v-if="requestState")
  HomeProducts(v-if="requestState")
  HomeDetail(v-if="requestState")
  h2.home__title(v-if="!spinnerState && !requestState") {{ errorMessage }}
  Spinner(:state="spinnerState")
</template>

<script lang="ts">
import { defineComponent, Ref, ref, useStore, onMounted } from '@nuxtjs/composition-api'
import HomeSections from '@/components/home/Sections.vue'
import HomeFilter from '@/components/home/Filter.vue'
import HomeProducts from '@/components/home/Products.vue'
import HomeDetail from '@/components/home/Detail.vue'
import Spinner from '@/components/ui/Spinner.vue'
import { EProgramContext, EProgramEssence, EMethod } from '@/enums'
import IResponseUser from '@/interfaces/api/response/IResponseUser'

export default defineComponent({
  components: {
    HomeSections,
    HomeFilter,
    HomeProducts,
    HomeDetail,
    Spinner
  },
  setup() {
    const store = useStore()
    const requestState: Ref<boolean> = ref(false)
    const spinnerState: Ref<boolean> = ref(false)
    const errorMessage: Ref<string> = ref('')

    const toggleSpinner = (): void => {
      spinnerState.value = !spinnerState.value
    }

    const requestUser = async () => {
      await store.dispatch('sendRequest', {
        method: EMethod.GET,
        url: `${store.getters.getApiUrl}/${EProgramContext.visuals}/${EProgramEssence.user}`,
        successCallback: ({ data }: IResponseUser) => {
          store.commit('setIsAdmin', data.data.attributes.admin)
          requestState.value = true
        },
        errorCallback: () => {
          errorMessage.value = 'Произошла ошибка'
        }
      })
    }

    onMounted(async () => {
      toggleSpinner()
      await requestUser()
      toggleSpinner()
    })

    return {
      requestState,
      spinnerState,
      errorMessage
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss';

.home {
  &__title {
    @extend %title;
    text-align: center;
  }
}
</style>
