<template lang="pug">
main.instruction
  h2.instruction__title Инструкция
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  setup() {}
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss';

.instruction {
  @extend %container;

  &__title {
    @extend %title;
    @include size(font, 2.5vw);
    @include space(margin, bottom, 2vw);
    color: var(--main-nav-color);
    text-align: center;
  }
}
</style>
