<template lang="pug">
main.settings
  Tabs(
    v-if="isAdmin && requestState"
    tabs-content="global"
    title="Глобальные настройки"
    :buttons="globalTabsButtons"
    :selected-tab="globalTabsSelectedTab"
    @toggle="toggleGlobalTabs"
  )
    SettingsBoundFields(v-if="globalTabsSelectedTab === 0")
  Tabs(
    v-if="requestState"
    tabs-content="user"
    title="Пользовательские настройки"
    :buttons="userTabsButtons"
    :selected-tab="userTabsSelectedTab"
    @toggle="toggleUserTabs"
  )
    SettingsFilter(v-if="userTabsSelectedTab === 0")
    SettingsMiniCard(v-if="userTabsSelectedTab === 1")
    SettingsDetailCard(v-if="userTabsSelectedTab === 2")
    //- SettingsColorSchema
  //- SettingsReset
  h2.settings__title(v-if="!spinnerState && !requestState") {{ errorMessage }}
  Spinner(:state="spinnerState")
</template>

<script lang="ts">
import {
  defineComponent,
  Ref,
  ComputedRef,
  ref,
  computed,
  useStore,
  onMounted
} from '@nuxtjs/composition-api'
import Tabs from '@/components/ui/Tabs.vue'
import SettingsBoundFields from '@/components/settings/BoundFields.vue'
import SettingsColorSchema from '@/components/settings/ColorSchema.vue'
import SettingsMiniCard from '@/components/settings/MiniCard.vue'
import SettingsDetailCard from '@/components/settings/DetailCard.vue'
import SettingsFilter from '@/components/settings/Filter.vue'
import SettingsReset from '@/components/settings/Reset.vue'
import Spinner from '@/components/ui/Spinner.vue'
import { EProgramEssence, EProgramContext, EMethod } from '@/enums'
import IResponseUser from '@/interfaces/api/response/IResponseUser'

export default defineComponent({
  components: {
    Tabs,
    SettingsBoundFields,
    SettingsMiniCard,
    SettingsDetailCard,
    SettingsColorSchema,
    SettingsFilter,
    SettingsReset,
    Spinner
  },
  setup() {
    const store = useStore()
    const requestState: Ref<boolean> = ref(false)
    const spinnerState: Ref<boolean> = ref(false)
    const errorMessage: Ref<string> = ref('')
    const isAdmin: ComputedRef<boolean> = computed(() => store.getters.getIsAdmin)
    const globalTabsButtons: Ref<string[]> = ref(['связывание полей'])
    const globalTabsSelectedTab: Ref<number> = ref(0)
    const userTabsButtons: Ref<string[]> = ref([
      'фильтр товаров',
      'мини-карточка',
      'детальная карточка'
    ])
    const userTabsSelectedTab: Ref<number> = ref(0)

    const toggleSpinner = (): void => {
      spinnerState.value = !spinnerState.value
    }

    const requestUser = async () => {
      await store.dispatch('sendRequest', {
        method: EMethod.GET,
        url: `${store.getters.getApiUrl}/${EProgramContext.visuals}/${EProgramEssence.user}`,
        successCallback: ({ data }: IResponseUser) => {
          store.commit('setIsAdmin', data.data.attributes.admin)
          requestState.value = true
        },
        errorCallback: () => {
          errorMessage.value = 'Произошла ошибка'
        }
      })
    }

    onMounted(async () => {
      toggleSpinner()
      await requestUser()
      toggleSpinner()
    })

    const toggleGlobalTabs = (event: any): void => {
      globalTabsSelectedTab.value = parseInt(event.target.getAttribute('tab-order'))
    }

    const toggleUserTabs = (event: any): void => {
      userTabsSelectedTab.value = parseInt(event.target.getAttribute('tab-order'))
    }

    return {
      isAdmin,
      requestState,
      spinnerState,
      errorMessage,
      globalTabsSelectedTab,
      globalTabsButtons,
      toggleGlobalTabs,
      userTabsButtons,
      userTabsSelectedTab,
      toggleUserTabs
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss';

.settings {
  &__title {
    @extend %title;
    text-align: center;
  }
}
</style>
