<template lang="pug">
main
  WarningInfo
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import WarningInfo from '@/components/warning/Info.vue'

export default defineComponent({
  components: {
    WarningInfo
  },
  layout: 'pageonly'
})
</script>
