<template lang="pug">
section.favorites-list
  .favorites-list__create-btn-wrap
    button.favorites-list__btn создать коллекцию
  .favorites-list__wrap(
    v-for="(favorite, index) in favorites" :key="index"
  )
    .favorites-list__card
      h4.favorites-list__card-title {{ favorite.title }}
      p.favorites-list__card-txt {{ favorite.description }}
      button.favorites-list__btn(:favorite-id="favorite.id") подробнее
</template>

<script lang="ts">
import { defineComponent, Ref, ref } from '@nuxtjs/composition-api'
import Navigation from '@/components/ui/Navigation.vue'
import SideNav from '@/components/ui/SideNav.vue'

export default defineComponent({
  components: {
    Navigation,
    SideNav
  },
  setup() {
    const favorites: Ref<Array<{ id: number; title: string; description: string }>> = ref([
      {
        id: 1,
        title: 'Заголовок подборки',
        description:
          'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века'
      }
    ])

    return {
      favorites
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss';

.favorites-list {
  @extend %container;

  &__create-btn-wrap {
    @include space(margin, bottom, 1vw);
    text-align: center;
  }

  &__wrap {
    @include grid(4, 1vw);
  }

  &__card {
    @extend %card;
    @include flex(center, center, column, 1vw);

    &-title {
      @extend %title;
      text-align: center;
    }

    &-img {
      width: 100%;
    }
  }

  &__btn {
    @extend %btn;
  }
}
</style>
