<template lang="pug">
nav.navigation
  .navigation__wrap
    NuxtLink.navigation__link(:to="`/${platform}/${module}`")
      .navigation__logo-wrap
        svg.navigation__logo-icon(version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 886.000000 886.000000" preserveAspectRatio="xMidYMid meet")
          g(transform="translate(0.000000,886.000000) scale(0.100000,-0.100000)" stroke="none")
            path(d="M3999 8393 c-918 -903 -3999 -3975 -3999 -3987 0 -14 4095 -4106 4283 -4280 l117 -108 102 94 c270 250 4358 4324 4358 4343 0 6 -856 865 -1902 1910 -2033 2030 -2481 2475 -2495 2475 -5 0 -214 -201 -464 -447z m1173 -1805 l-702 -703 -710 710 -710 710 702 702 703 703 710 -710 710 -710 -703 -702z m-2712 -1682 l515 -516 -703 -702 -702 -703 -711 710 -710 710 701 698 702 698 196 -190 c108 -104 429 -422 712 -705z m2290 622 c146 -145 460 -456 698 -693 l432 -430 -717 -717 -718 -718 -710 710 -711 711 216 213 c594 587 1217 1186 1233 1186 6 0 131 -118 277 -262z m3292 -405 l668 -668 -710 -710 -710 -710 -675 675 -675 675 703 703 c387 386 709 702 717 702 8 0 315 -300 682 -667z m-2817 -3012 l570 -571 -695 -695 -695 -695 -573 573 c-315 314 -618 620 -673 678 l-99 107 327 332 c181 183 491 492 691 687 l363 354 107 -100 c59 -55 363 -357 677 -670z")
        span.navigation__logo-title Шахматка
    div.navigation__links(v-if="menuFlag")
      svg.navigation__x(@click="closeMenu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
        path( d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z")
      span(@click="closeMenu")
        NuxtLink.navigation__link(:to="`/${platform}/${module}`") Главная
      //- span(@click="closeMenu")
      //-   NuxtLink.navigation__link(:to="`/${platform}/${module}/favorites`") Избранное
      span(@click="closeMenu")
        NuxtLink.navigation__link(:to="`/${platform}/${module}/settings`") Настройки
      //- span(@click="closeMenu")
        //- NuxtLink.navigation__link(:to="`/${platform}/${module}/instruction`") Инструкция
    button.navigation__burger(@click="openMenu")
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
        path(d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z")
</template>

<script lang="ts">
import {
  defineComponent,
  Ref,
  ComputedRef,
  ref,
  computed,
  watch,
  watchEffect,
  useStore,
  useRouter,
  useRoute
} from '@nuxtjs/composition-api'
import { EDevice } from '@/enums'

export default defineComponent({
  setup() {
    const store = useStore()
    const router = useRouter()
    const route = useRoute()
    const menuFlag: Ref<boolean> = ref(true)
    const device: Ref<EDevice> = ref(EDevice.mobile)
    const platform: ComputedRef<string> = computed(() => store.getters.getPlatform)
    const module: ComputedRef<string> = computed(() => store.getters.getModule)
    const apiUrl: ComputedRef<string> = computed(() => store.getters.getApiUrl)
    const programCrashed: ComputedRef<boolean> = computed(() => store.getters.getProgramCrashed)

    const definePlatformAndModule = (): void => {
      const path = route.value.path.split('/').filter(path => path !== '')

      store.commit('setPlatform', path[0])
      store.commit('setModule', path[1])
    }

    const formApiUrl = (): void => {
      store.commit('setApiUrl', `${apiUrl.value}/${platform.value}/${module.value}`)
    }

    const defineDevice = () => {
      if (window.innerWidth < 900) {
        device.value = EDevice.mobile
        menuFlag.value = false
      } else {
        device.value = EDevice.desktop
        menuFlag.value = true
      }
    }

    if (process.browser) {
      definePlatformAndModule()
      formApiUrl()
      defineDevice()
    }

    const openMenu = (): void => {
      if (device.value === EDevice.mobile) {
        menuFlag.value = true
      }
    }

    const closeMenu = (): void => {
      if (device.value === EDevice.mobile) {
        menuFlag.value = false
      }
    }

    watch(programCrashed, (currentValue, _): void => {
      if (currentValue) {
        router.push(`/${platform.value}/${module.value}/warning`)
      }
    })

    watchEffect((): void => {
      if (process.browser) {
        window.addEventListener('resize', defineDevice)
      }
    })

    return {
      platform,
      module,
      menuFlag,
      device,
      openMenu,
      closeMenu
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss';

.navigation {
  @include space(padding, top, 0.5vw);
  @include space(padding, bottom, 0.5vw);
  @include space(margin, bottom, 2vw);
  box-shadow: $box-shadow;

  &__wrap {
    @extend %container;
    @include flex(space-between, center, row, 1vw);
  }

  &__logo-wrap {
    @include flex(center, center, row, 0.5vw);
  }

  &__logo-icon {
    @include size(height, 3vw);
    fill: var(--main-nav-color);
  }

  &__logo-title {
    @include size(font, 1.75vw);
    font-weight: 700;
    color: var(--main-nav-color);
  }

  &__icon {
    @include size(height, 1.25vw);
    fill: #fff;
  }

  &__x {
    display: none;

    @media (max-width: map-get($breakpoints, tablet)) {
      @include size(height, 1.5vw);
      display: block;
      fill: var(--main-nav-color);
      position: absolute;
      top: 4vw;
      right: 4vw;
      cursor: pointer;
    }
  }

  &__links {
    @include flex(space-between, center, row, 2vw);

    @media (max-width: map-get($breakpoints, tablet)) {
      @include flex(center, center, column, 1vw);
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #fff;
      z-index: 10;
    }
  }

  &__link {
    @include size(font, 1.25vw);
    text-decoration: none;
    transition: $transition;

    &:hover {
      color: var(--main-nav-color);
      transition: $transition;
    }
  }

  .nuxt-link-exact-active {
    color: var(--main-nav-color);
  }

  &__btn {
    @extend %btn;
    @include flex(center, center, row, 0.5vw);
  }

  &__version {
    @include size(font, 1.5vw);
    color: var(--main-nav-color);
  }

  &__burger {
    display: none;

    @media (max-width: map-get($breakpoints, tablet)) {
      @include flex();
      @include space(padding, left, 0.5vw);
      @include space(padding, right, 0.5vw);
      @include space(padding, top, 0.25vw);
      @include space(padding, bottom, 0.25vw);
      @include size(border-width, 0.25vw);
      @include size(border-radius, 0.25vw);
      border-style: solid;
      border-color: var(--main-nav-color);
      background-color: #fff;
      cursor: pointer;

      svg {
        @include size(height, 2vw);
        fill: var(--main-nav-color);
      }
    }
  }

  @media print {
    display: none;
  }
}
</style>
