<template lang="pug">
nav.pagination(v-if="state")
  .pagination__btn-wrap
    button.pagination__btn(
      @click="$emit('firstPage')"
    )
      svg.pagination__icon.pagination__icon--reverse(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
        path(d="M10.024 4h6.015l7.961 8-7.961 8h-6.015l7.961-8-7.961-8zm-10.024 16h6.015l7.961-8-7.961-8h-6.015l7.961 8-7.961 8z")
    button(
      v-for="(_, i) in pageCount"
      v-if="(i + 1) === (currentPage - 1) || (i + 1) === currentPage || (i + 1) === (currentPage + 1)"
      :page="i + 1"
      :class="(i + 1) === currentPage ? 'pagination__btn pagination__btn--active' : 'pagination__btn'"
      @click="$emit('selectPage', $event)"
    ) {{ i + 1 }}
    button.pagination__btn(
      @click="$emit('lastPage')"
    )
      svg.pagination__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
        path(d="M10.024 4h6.015l7.961 8-7.961 8h-6.015l7.961-8-7.961-8zm-10.024 16h6.015l7.961-8-7.961-8h-6.015l7.961 8-7.961 8z")
  .pagination__info
    div всего товаров: {{ total }}
    div всего страниц: {{ pageCount }}
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  emits: ['firstPage', 'selectPage', 'lastPage'],
  props: {
    state: {
      type: Boolean,
      required: true
    },
    currentPage: {
      type: Number,
      required: true
    },
    pageCount: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: true
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss/';

.pagination {
  @include space(margin, bottom, 2vw);

  &__btn {
    &-wrap {
      @include flex(center, center, row, 0.15vw);
      @include space(margin, bottom, 1vw);
    }

    @extend %btn;
    @include space(padding, all, 0.5vw);
    @include size(border-width, 0.15vw);
    border-color: map-get($colors, disabled-light);
    border-radius: 0;
    background-color: transparent;
    color: var(--main-nav-color);

    &--active {
      border-color: var(--main-nav-color);
      background-color: var(--main-nav-color);
      color: #fff;

      svg {
        fill: #fff;
      }
    }

    &:hover {
      border-color: var(--main-nav-color);
      background-color: var(--main-nav-color);
      color: #fff;

      svg {
        fill: #fff;
      }
    }
  }

  &__info {
    @include flex(center, center, row, 2vw);

    @media (max-width: map-get($breakpoints, mobile)) {
      @include flex(center, center, column, 1vw);
    }
  }

  &__icon {
    @include size(height, 0.75vw);
    fill: var(--main-nav-color);

    &--reverse {
      transform: rotate(180deg);
    }
  }

  @media print {
    display: none;
  }
}
</style>
