<template lang="pug">
nav.sidenav
  button.sidenav__btn(@click="scrollUp")
    svg.sidenav__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
      path(d="M12 3l12 18h-24z")
  button.sidenav__btn(@click="scrollDown")
    svg.sidenav__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
      path(d="M12 21l-12-18h24z")
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  setup() {
    const scrollDown = (): void => {
      if (process.browser) {
        window.scrollTo({
          top: document.body.scrollHeight,
          behavior: 'smooth'
        })
      }
    }

    const scrollUp = (): void => {
      if (process.browser) {
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        })
      }
    }

    return {
      scrollDown,
      scrollUp
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss';

.sidenav {
  @include flex(center, center, column, 0.5vw);
  @include size(width, 2vw);
  position: fixed;
  bottom: 1vw;
  right: 1vw;

  &__btn {
    @extend %btn;
    @include space(padding, all, 0.5vw);
    @include size(height, 2vw);
    @include size(width, 2vw);
  }

  &__icon {
    fill: #fff;
  }

  @media print {
    display: none;
  }
}
</style>
