<template lang="pug">
.spinner-wrap(v-if="state")
  .spinner
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  props: {
    state: {
      type: Boolean,
      required: true
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss';

.spinner-wrap {
  @include flex();
  @include space(margin, top, 2vw);
}

.spinner {
  @include size(width, 1vw);
  @include size(height, 1vw);
  @include space(padding, all, 1vw);
  display: inline-block;
  position: relative;
}

.spinner div {
  transform-origin: 0.5vw 0.5vw;
  animation: spinner 1.2s linear infinite;

  @media (max-width: map-get($breakpoints, tablet)) {
    transform-origin: calc(0.5vw * $tablet-ratio) calc(0.5vw * $tablet-ratio);
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    transform-origin: calc(0.5vw * $mobile-ratio) calc(0.5vw * $mobile-ratio);
  }
}

.spinner div:after {
  @include size(height, 1vw);
  @include size(width, 0.25vw);
  content: ' ';
  display: block;
  position: absolute;
  top: 1vw;
  left: 1vw;
  border-radius: 25%;
  background: var(--main-nav-color);
  transform: rotate(-30deg);

  @media (max-width: map-get($breakpoints, tablet)) {
    top: calc(1vw * $tablet-ratio);
    left: calc(1vw * $tablet-ratio);
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    top: calc(1vw * $tablet-ratio);
    left: calc(1vw * $mobile-ratio);
  }
}

.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>
