<template lang="pug">
.tabs
  .tabs__title(v-if="title") {{ title }}
  .tabs__nav(v-if="buttons.length")
    button.tabs__nav-btn(
      v-for="(btnText, i) in buttons" :key="i"
      :class="selectedTab === i ? 'tabs__nav-btn--active' : ''"
      :tab-order="i"
      @click="$emit('toggle', $event)"
    ) {{ btnText }}
  .tabs__content(:tabs-content="tabsContent")
    slot
</template>

<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'

export default defineComponent({
  emits: ['toggle'],
  props: {
    title: {
      type: String
    },
    buttons: {
      type: Array as PropType<string[]>,
      required: true
    },
    selectedTab: {
      type: Number,
      required: true
    },
    tabsContent: {
      type: String,
      required: true
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss';

.tabs {
  @extend %container;

  &__title {
    @extend %title;
    @include size(font, 2.5vw);
    @include space(margin, bottom, 1vw);
    text-align: center;

    @media (max-width: map-get($breakpoints, mobile)) {
      font-size: 9vw;
    }
  }

  &__nav {
    @include grid(3, 2vw);
    @include space(margin, bottom, 1vw);
    border: solid var(--main-nav-color);
    @include size(border-width, 0.2vw);
    @include size(border-radius, 0.5vw);
    @include space(padding, all, 1vw);
    width: 100%;

    &-btn {
      @extend %btn;

      &--active {
        @extend %btn--active;
      }
    }
  }
}
</style>
