%container,
%container-fluid {
  height: auto;
  margin: 0 auto;
}

%container {
  width: 85vw;
}

%container-fluid {
  width: 100vw;
}

%modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #fff, $alpha: 0.6);
  z-index: 10;
}

%title {
  @include size(font, 1.35vw);
  color: var(--main-nav-color);
  font-weight: 700;
}

%btn {
  @include space(padding, left, 1.35vw);
  @include space(padding, right, 1.35vw);
  @include space(padding, top, 0.75vw);
  @include space(padding, bottom, 0.75vw);
  @include size(border-radius, 0.35vw);
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  background-color: var(--main-nav-color);
  color: #fff;
  transition: $transition;
  cursor: pointer;

  &:hover {
    filter: brightness(var(--main-nav-color-hover));
    transition: $transition;
  }

  &--active {
    background-color: map-get($colors, success);

    &:hover {
      background-color: map-get($colors, success-hover);
    }
  }

  &--disabled {
    background-color: map-get($colors, disabled);
    cursor: inherit;

    &:hover {
      background-color: map-get($colors, disabled);
    }
  }
}

%input {
  @include space(padding, left, 1vw);
  @include space(padding, right, 1vw);
  @include space(padding, top, 0.5vw);
  @include space(padding, bottom, 0.5vw);
  @include size(border-radius, 0.2vw);
  @include size(border-width, 0.15vw);
  border-style: solid;
  border-color: map-get($colors, disabled);
  background-color: #fff;
  box-shadow: 0.1vw 0.35vw 0.35vw 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  @media (max-width: map-get($breakpoints, tablet)) {
    box-shadow: calc(0.1vw * $tablet-ratio) calc(0.35vw * $tablet-ratio)
      calc(0.35vw * $tablet-ratio) 0 rgba(0, 0, 0, 0.2);
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    box-shadow: calc(0.1vw * $mobile-ratio) calc(0.35vw * $mobile-ratio)
      calc(0.35vw * $mobile-ratio) 0 rgba(0, 0, 0, 0.2);
  }

  &::placeholder {
    color: map-get($colors, disabled);
  }

  &:focus {
    @include size(border-width, 0.15vw);
    border-style: solid;
    border-color: var(--main-nav-color);
    color: var(--main-nav-color);
  }

  &--success {
    border-color: map-get($colors, success);
    color: map-get($colors, success);
  }

  &--error {
    border-color: map-get($colors, error);
    color: map-get($colors, error);
  }
}

%card {
  @include space(padding, all, 2vw);
  @include size(border-radius, 0.5vw);
  background-color: #fff;
  box-shadow: $box-shadow;
  transition: $transition;
}

%switch {
  @include size(width, 3vw);
  @include size(height, 1.65vw);
  position: relative;
  display: inline-block;
  box-shadow: 0.1vw 0.35vw 0.35vw 0 rgba(0, 0, 0, 0.2);

  @media (max-width: map-get($breakpoints, tablet)) {
    box-shadow: calc(0.1vw * $tablet-ratio) calc(0.35vw * $tablet-ratio)
      calc(0.35vw * $tablet-ratio) 0 rgba(0, 0, 0, 0.2);
  }

  @media (max-width: map-get($breakpoints, mobile)) {
    box-shadow: calc(0.1vw * $mobile-ratio) calc(0.35vw * $mobile-ratio)
      calc(0.35vw * $mobile-ratio) 0 rgba(0, 0, 0, 0.2);
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked + span {
    background-color: var(--main-nav-color);
  }

  input:focus + span {
    box-shadow: 0 0 1px var(--main-nav-color);
  }

  span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: map-get($colors, disabled);
    transition: $transition;

    &:before {
      @include size(width, 1.25vw);
      @include size(height, 1.25vw);
      position: absolute;
      content: '';
      left: 0.2vw;
      bottom: 0.2vw;
      background-color: #fff;
      transition: $transition;

      @media (max-width: map-get($breakpoints, tablet)) {
        left: calc(0.2vw * $tablet-ratio);
        bottom: calc(0.2vw * $tablet-ratio);
      }

      @media (max-width: map-get($breakpoints, mobile)) {
        left: calc(0.2vw * $mobile-ratio);
        bottom: calc(0.2vw * $mobile-ratio);
      }
    }
  }

  input:checked + span:before {
    transform: translateX(1.3vw);

    @media (max-width: map-get($breakpoints, tablet)) {
      transform: translateX(calc(1.3vw * $tablet-ratio));
    }

    @media (max-width: map-get($breakpoints, mobile)) {
      transform: translateX(calc(1.3vw * $mobile-ratio));
    }
  }
}

%radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  transition: $transition;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transition: $transition;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: map-get($colors, disabled);
    border-radius: 50%;
    box-shadow: 0.1vw 0.35vw 0.35vw 0 rgba(0, 0, 0, 0.2);
    transition: $transition;

    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }

  &:hover input ~ span {
    filter: brightness(var(--main-nav-color-hover));
  }

  input:checked ~ span {
    background-color: var(--main-nav-color);
  }

  input:checked ~ span:after {
    display: block;
  }

  span:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
  }
}

%table {
  width: 100%;
  border: none;

  thead th {
    @include space(padding, all, 0.5vw);
    color: #fff;
    font-weight: bold;
    text-align: left;
    border: none;
    background: map-get($colors, disabled);

    @media (max-width: map-get($breakpoints, tablet)) {
      @include space(padding, all, 1vw);
      @include flex(center, center, column, 1vw);
    }

    @media print {
      display: table-cell;
    }
  }

  tbody td {
    @include space(padding, all, 0.5vw);
    text-align: left;
    border: none;
    vertical-align: middle;

    @media (max-width: map-get($breakpoints, tablet)) {
      @include space(padding, all, 1vw);
      @include flex(center, center, column, 1vw);
    }

    @media print {
      display: table-cell;
    }
  }

  tbody tr:nth-child(even) {
    background: map-get($colors, disabled-light);

    @media print {
      background: none;
    }
  }
}
