$main-font: (
  desktop-size: 1vw,
  family: 'Ubuntu-Regular',
  generic: sans-serif,
  line-height: 1.25
);

$colors: (
  default: #353b48,
  disabled: #7f8fa6,
  disabled-light: #eef5ff,
  success: #45be32,
  success-hover: darken(#45be32, 5%),
  warning: #ee5a24,
  warining-hover: darken(#ee5a24, 5%),
  error: #e84118,
  error-hover: darken(#e84118, 5%)
);

$transition: all 0.2s ease-in;

$box-shadow: 0.2vw 0.2vw 1vw 0
  rgba(
    $color: #000000,
    $alpha: 0.2
  );

$breakpoints: (
  tablet: 900px,
  mobile: 600px
);

$tablet-ratio: 4;
$mobile-ratio: 5;
