@import '_reset.scss', '_variables.scss', '_mixins.scss', '_inheritance.scss';

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('@/static/fonts/Ubuntu-Regular.woff2') format('woff2'),
    url('@/static/fonts/Ubuntu-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('@/static/fonts/Ubuntu-Bold.woff2') format('woff2'),
    url('@/static/fonts/Ubuntu-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('@/static/fonts/Ubuntu-Italic.woff2') format('woff2'),
    url('@/static/fonts/Ubuntu-Italic.woff') format('woff');
  font-weight: 400;
}

:root {
  --main-nav-color: #40739e;
  --main-nav-color-hover: 0.9;
}

html,
body,
* {
  @include size(font, map-get($main-font, desktop-size));
  font-family: map-get($main-font, family), map-get($main-font, generic);
  line-height: map-get($main-font, line-height);
  color: map-get($colors, default);
  box-sizing: border-box;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@media print {
  @page {
    margin: 20mm 10mm 20mm 20mm;
  }

  html,
  body {
    height: 297mm;
    width: 210mm;
  }

  *,
  *:before,
  *:after {
    color: #000;
    box-shadow: none;
    text-shadow: none;
  }
}
