<template lang="pug">
section.bound-fields
  h2.bound-fields__title Связывание полей с Битрикс24
  table.bound-fields__table(v-if="requestState")
    thead
      tr
        th Названия полей
        th Поле Битрикс24
        th Действие
    tbody
      tr(v-for="(field, i) in fields" :key="i") 
        td {{ field.attributes.name }}
        td
          select.bound-fields__select(:field-id="field.id" @change="boundField($event)")
            option(value="default" selected="true" disabled) не выбрано
            option(
              v-for="(bxField, j) in field.relationships.bxFields" :key="j"
              :value="bxField.bxFieldConst"
              :selected="bxField.selected ? true : false"
            ) {{ bxField.bxFieldName }}
        td
          button(
            :class="field.attributes.bxFieldConst ? 'bound-fields__btn' : 'bound-fields__btn bound-fields__btn--disabled'"
            :disabled="!field.attributes.bxFieldConst ? true : false"
            :field-id="field.id"
            @click="[openModal(), setActiveFieldId($event)]"
          ) удалить привязку
  h4.bound-fields__subtitle.bound-fields__subtitle--active {{ successMessage }}
  h4.bound-fields__subtitle.bound-fields__subtitle--error {{ errorMessage }}
  h4.bound-fields__subtitle(v-if="!requestState && errorMessage") {{ fatalErrorMessage }}
  Modal(
    :state="modalState"
    @close="closeModal"
  )
    .modal__title Удалить связь поля?
    .modal__btn-wrap
      button.modal__btn(:field-id="activeFieldId" @click="deleteBoundField($event)") да
      button.modal__btn(@click="closeModal") нет
  Spinner(:state="spinnerState")
</template>

<script lang="ts">
import { defineComponent, Ref, ref, useStore, onMounted } from '@nuxtjs/composition-api'
import Spinner from '@/components/ui/Spinner.vue'
import Modal from '@/components/ui/Modal.vue'
import { EProgramContext, EProgramEssence, EMethod } from '@/enums'
import IResponse from '@/interfaces/api/response/IResponse'
import IDataObj from '@/interfaces/api/response/IDataObj'

export default defineComponent({
  components: {
    Spinner,
    Modal
  },
  setup() {
    const store = useStore()
    const requestState: Ref<boolean> = ref(false)
    const errorMessage: Ref<string> = ref('')
    const fatalErrorMessage: Ref<string> = ref('')
    const successMessage: Ref<string> = ref('')
    const fields: Ref<IDataObj[]> = ref([])
    const activeFieldId: Ref<number> = ref(0)
    const spinnerState: Ref<boolean> = ref(false)
    const modalState: Ref<boolean> = ref(false)

    const setActiveFieldId = (event: any): void => {
      activeFieldId.value = parseInt(event.target.getAttribute('field-id'))
    }

    const toggleSpinner = (): void => {
      spinnerState.value = !spinnerState.value
    }

    const closeModal = (): void => {
      modalState.value = false

      if (process.browser) {
        document.body.style.overflow = 'auto'
      }
    }

    const openModal = (): void => {
      modalState.value = true

      if (process.browser) {
        document.body.style.overflow = 'hidden'
      }
    }

    const requestFields = async () => {
      await store.dispatch('sendRequest', {
        method: EMethod.GET,
        url: `${store.getters.getApiUrl}/${EProgramContext.settings}/${EProgramEssence.fields}`,
        successCallback: ({ data }: IResponse) => {
          requestState.value = true
          fields.value = data.data
        },
        errorCallback
      })
    }

    onMounted(async () => {
      requestState.value = false
      toggleSpinner()
      await requestFields()
      toggleSpinner()
    })

    const boundField = async (event: any) => {
      await store.dispatch('sendRequest', {
        method: EMethod.PUT,
        url: `${store.getters.getApiUrl}/${EProgramContext.settings}/${
          EProgramEssence.fields
        }/${event.target.getAttribute('field-id')}`,
        data: { bxFieldConst: event.target.options[event.target.selectedIndex].value },
        successCallback,
        errorCallback
      })
    }

    const deleteBoundField = async (event: any): Promise<void> => {
      closeModal()
      await store.dispatch('sendRequest', {
        method: EMethod.DELETE,
        url: `${store.getters.getApiUrl}/${EProgramContext.settings}/${
          EProgramEssence.fields
        }/${event.target.getAttribute('field-id')}`,
        successCallback,
        errorCallback
      })
    }

    const successCallback = async ({ data }: IResponse) => {
      store.commit('setBoundFieldChanged', true)
      requestState.value = false

      toggleSpinner()
      await requestFields()
      toggleSpinner()

      successMessage.value = data.messages.info.join(', ')
      setTimeout(() => {
        store.commit('setBoundFieldChanged', false)
        successMessage.value = ''
      }, 5000)
    }

    const errorCallback = async (error: any): Promise<void> => {
      if (error.response?.data?.messages?.info.length > 0) {
        errorMessage.value = error.response.data.messages.info.join(', ')
        setTimeout(() => {
          errorMessage.value = ''
        }, 5000)
      } else {
        requestState.value = false
        errorMessage.value = 'Произошла ошибка'
      }
    }

    return {
      requestState,
      successMessage,
      errorMessage,
      fatalErrorMessage,
      fields,
      requestFields,
      spinnerState,
      toggleSpinner,
      modalState,
      closeModal,
      openModal,
      boundField,
      activeFieldId,
      setActiveFieldId,
      deleteBoundField
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss/';

.bound-fields {
  @extend %container;
  @include space(margin, bottom, 4vw);

  &__title {
    @extend %title;
    @include size(font, 2vw);
    @include space(margin, bottom, 1vw);
    color: var(--main-nav-color);
    text-align: center;
  }

  &__subtitle {
    @extend %title;
    text-align: center;

    &--active {
      @include space(margin, top, 1vw);
      color: map-get($colors, success);
    }

    &--error {
      @include space(margin, top, 1vw);
      color: map-get($colors, error);
    }
  }

  &__wrap {
    @include grid(2, 1vw);
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }

  &__select {
    @extend %input;
  }

  &__btn {
    @extend %btn;

    &--disabled {
      @extend %btn--disabled;
    }
  }

  &__table {
    @extend %table;
  }
}

.modal {
  &__title {
    @extend %title;
    @include space(margin, bottom, 1vw);
  }

  &__btn-wrap {
    @include flex(center, center, row, 1vw);

    @media (max-width: map-get($breakpoints, mobile)) {
      @include flex(center, center, column, 1vw);
    }
  }

  &__btn {
    @extend %btn;
  }
}
</style>
