<template lang="pug">
section.color-schema
  h2.color-schema__title Цветовая схема
  .color-schema__wrap
    div(
      v-for="(color, i) in colors" :key="i"
      :class="color.selected ? 'color-schema__swatch color-schema__swatch--active' : 'color-schema__swatch'"
      :style="`background-color: ${color.hex}`"
      :hex="color.hex"
      @click="toggleColor($event)"
    )
</template>

<script lang="ts">
import { defineComponent, Ref, ref } from '@nuxtjs/composition-api'

export default defineComponent({
  setup() {
    const colors: Ref<Array<{ id: number; hex: string; nameConst: string; selected: boolean }>> =
      ref([
        {
          id: 1,
          hex: '#b33939',
          nameConst: 'red',
          selected: false
        },
        {
          id: 2,
          hex: '#40407a',
          nameConst: 'purple',
          selected: false
        },
        {
          id: 3,
          hex: '#40739e',
          nameConst: 'blue',
          selected: true
        },
        {
          id: 4,
          hex: '#019494',
          nameConst: 'turquoise',
          selected: false
        },
        {
          id: 5,
          hex: '#1cac5f',
          nameConst: 'green',
          selected: false
        },
        {
          id: 6,
          hex: '#5c3c1d',
          nameConst: 'brown',
          selected: false
        }
      ])

    const toggleColor = (event: any) => {
      document.documentElement.style.setProperty(
        '--main-nav-color',
        event.target.style.backgroundColor
      )

      for (let i = 0; i < colors.value.length; i++) {
        if (event.target.getAttribute('hex') === colors.value[i].hex) {
          colors.value[i].selected = true
        } else {
          colors.value[i].selected = false
        }
      }
    }

    return {
      colors,
      toggleColor
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss';

.color-schema {
  @extend %container;
  @include space(margin, bottom, 4vw);

  &__title {
    @extend %title;
    @include size(font, 2vw);
    @include space(margin, bottom, 1vw);
    color: var(--main-nav-color);
    text-align: center;
  }

  &__wrap {
    @include grid(6, 1vw, 2, 2);
    max-width: 35%;
    margin: 0 auto;

    @media (max-width: map-get($breakpoints, tablet)) {
      max-width: 80%;
    }
  }

  &__swatch {
    @include space(padding, all, 1vw);
    @include size(border-radius, 0.5vw);
    cursor: pointer;

    &:hover {
      filter: brightness(var(--main-nav-color-hover));
    }

    &--active {
      border: 5px solid #fff;
      outline: 5px solid var(--main-nav-color);
    }
  }
}
</style>
