<template lang="pug">
section.filter
  .filter__title Фильтр товаров
  table.filter__table(v-if="requestState")
    thead
      tr
        th Порядковый номер
        th Названия полей
        th Статус
    tbody
      tr(v-for="(filter, i) in filters" :key="i")
        td {{ i + 1 }}
        td {{ filter.relationships.field.name }}
        td
          label.filter__switch
            input(
              type="checkbox"
              :checked="filter.attributes.active ? true : false"
              :field-id="filter.attributes.fieldId"
              :value="filter.attributes.active"
              @click="toggleField($event)"
            )
            span
  h4.filter__subtitle.filter__subtitle--active {{ successMessage }}
  h4.filter__subtitle.filter__subtitle--error {{ errorMessage }}
  h4.filter__subtitle(v-if="!requestState && errorMessage") {{ fatalErrorMessage }}
  Spinner(:state="spinnerState")
</template>

<script lang="ts">
import {
  defineComponent,
  Ref,
  ComputedRef,
  ref,
  useStore,
  computed,
  onMounted,
  watch
} from '@nuxtjs/composition-api'
import Spinner from '@/components/ui/Spinner.vue'
import { EProgramContext, EProgramEssence, EMethod } from '@/enums'
import IResponse from '@/interfaces/api/response/IResponse'
import IDataObj from '@/interfaces/api/response/IDataObj'

export default defineComponent({
  components: {
    Spinner
  },
  setup() {
    const store = useStore()
    const boundFieldChanged: ComputedRef<boolean> = computed(
      () => store.getters.getBoundFieldChanged
    )
    const requestState: Ref<boolean> = ref(false)
    const errorMessage: Ref<string> = ref('')
    const fatalErrorMessage: Ref<string> = ref('')
    const successMessage: Ref<string> = ref('')
    const filters: Ref<IDataObj[]> = ref([])
    const spinnerState: Ref<boolean> = ref(false)

    const toggleSpinner = (): void => {
      spinnerState.value = !spinnerState.value
    }

    const requestFields = async (): Promise<void> => {
      await store.dispatch('sendRequest', {
        method: EMethod.GET,
        url: `${store.getters.getApiUrl}/${EProgramContext.settings}/${EProgramEssence.filter}`,
        successCallback: ({ data }: IResponse) => {
          requestState.value = true
          filters.value = data.data
        },
        errorCallback
      })
    }

    onMounted(async () => {
      requestState.value = false
      toggleSpinner()
      await requestFields()
      toggleSpinner()
    })

    watch(boundFieldChanged, async (currentValue, _) => {
      if (currentValue) {
        requestState.value = false
        toggleSpinner()
        await requestFields()
        toggleSpinner()
      }
    })

    const toggleField = async (event: any): Promise<void> => {
      let active

      if (event.target.value === 'true') {
        active = false
      } else if (event.target.value === 'false') {
        active = true
      }

      await store.dispatch('sendRequest', {
        method: EMethod.PUT,
        url: `${store.getters.getApiUrl}/${EProgramContext.settings}/${
          EProgramEssence.filter
        }/${event.target.getAttribute('field-id')}`,
        data: { active },
        successCallback,
        errorCallback
      })
    }

    const successCallback = async ({ data }: IResponse): Promise<void> => {
      requestState.value = false
      toggleSpinner()
      await requestFields()
      toggleSpinner()

      successMessage.value = data.messages.info.join(', ')
      setTimeout(() => {
        successMessage.value = ''
      }, 5000)
    }

    const errorCallback = async (error: any): Promise<void> => {
      if (error.response?.data?.messages?.info.length > 0) {
        errorMessage.value = error.response.data.messages.info.join(', ')
        requestState.value = false

        toggleSpinner()
        await requestFields()
        toggleSpinner()

        setTimeout(() => {
          errorMessage.value = ''
        }, 5000)
      } else {
        requestState.value = false
        errorMessage.value = 'Произошла ошибка'
      }
    }

    return {
      requestState,
      filters,
      spinnerState,
      errorMessage,
      fatalErrorMessage,
      successMessage,
      toggleField
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss/';

.filter {
  @extend %container;
  @include flex(center, center, column, 1vw);
  @include space(margin, bottom, 4vw);

  &__title {
    @extend %title;
    @include size(font, 2vw);
    text-align: center;
  }

  &__subtitle {
    @extend %title;
    text-align: center;

    &--active {
      @include space(margin, top, 1vw);
      color: map-get($colors, success);
    }

    &--error {
      @include space(margin, top, 1vw);
      color: map-get($colors, error);
    }
  }

  &__switch {
    @extend %switch;
  }

  &__select {
    @extend %input;
  }

  &__btn {
    @extend %btn;
  }

  &__table {
    @extend %table;
  }
}
</style>
