<template lang="pug">
section.reset
  .reset__title Сброс настроек
  .reset__btn-wrap
    button.reset__btn(@click="openResetModal") сбросить настройки портала
    button.reset__btn(@click="openUserModal") сбросить пользовательские настройки
  Modal(
    :state="modalState"
    @close="closeModal"
  )
    .modal__content-wrap
      .modal__title {{ modalTitle }}
      ul.modal__list
        li(v-for="(str, i) in modalList" :key="i") {{ `✓ ${str}` }}
      .modal__btn-wrap
        button.modal__btn(v-if="modalType === 'portalReset'") да
        button.modal__btn(v-if="modalType === 'userReset'") да
        button.modal__btn(@click="closeModal") нет
</template>

<script lang="ts">
import { defineComponent, Ref, ref } from '@nuxtjs/composition-api'
import Modal from '@/components/ui/Modal.vue'

export default defineComponent({
  components: {
    Modal
  },
  setup() {
    enum EModalType {
      portalReset = 'portalReset',
      userReset = 'userReset'
    }

    const modalState: Ref<boolean> = ref(false)
    const modalType: Ref<EModalType> = ref(EModalType.portalReset)
    const modalTitle: Ref<string> = ref('')
    const modalList: Ref<string[]> = ref([])

    const closeModal = (): void => {
      modalState.value = false
    }

    const openModal = (): void => {
      modalState.value = true
    }

    const openResetModal = () => {
      openModal()
      modalType.value = EModalType.portalReset
      modalTitle.value = 'Сбросить настройки портала?'
      modalList.value = ['Cвязывание полей Битрикс24']
    }

    const openUserModal = () => {
      openModal()
      modalType.value = EModalType.portalReset
      modalTitle.value = 'Сбросить настройки пользователя?'
      modalList.value = [
        'Цветовая схема',
        'Мини-карточка товара',
        'Детальная карточка товара',
        'Фильтр',
        'Избранное'
      ]
    }

    return {
      modalState,
      modalType,
      modalTitle,
      modalList,
      closeModal,
      openResetModal,
      openUserModal
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss/';

.reset {
  @extend %container;
  @include space(margin, bottom, 4vw);

  &__title {
    @extend %title;
    @include size(font, 2vw);
    @include space(margin, bottom, 1vw);
    text-align: center;
  }

  &__btn-wrap {
    @include flex(center, center, row, 1vw);

    @media (max-width: map-get($breakpoints, mobile)) {
      @include flex(center, center, column, 1vw);
    }
  }

  &__btn {
    @extend %btn;
  }
}

.modal {
  @include space(padding, all, 1vw);

  &__content-wrap {
    @include flex(center, flex-start, column, 1vw);
  }

  &__title {
    @extend %title;
    text-align: center;
  }

  &__btn-wrap {
    @include flex(center, center, row, 1vw);
    align-self: center;
    width: 100%;

    @media (max-width: map-get($breakpoints, mobile)) {
      @include flex(center, center, column, 1vw);
    }
  }

  &__btn {
    @extend %btn;
    width: 100%;
  }
}
</style>
