<template lang="pug">
section.warning
  .warning__wrap
    svg.warning__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
      path(d="M12 1l-12 22h24l-12-22zm-1 8h2v7h-2v-7zm1 11.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z")
    h2.warning__title Произошла ошибка!
    p.warning__message Попробуйте нажать F5
</template>

<style lang="scss" scoped>
@import '@/assets/scss/';

.warning {
  @include flex();
  @include space(padding, all, 1vw);
  width: 100vw;
  height: 100vh;

  &__wrap {
    @include flex(center, center, column, 0.5vw);
  }

  &__icon {
    @include size(height, 8vw);
    fill: map-get($colors, warning);
  }

  &__title {
    @extend %title;
    @include size(font, 2.5vw);
    color: map-get($colors, warning);
    text-align: center;
  }

  &__message {
    @include size(font, 1.5vw);
    text-align: center;
  }
}
</style>
