<template lang="pug">
.detail(v-if="detailProductState")
  .detail__content(v-if="!spinnerState")
    svg.detail__x(@click="closeModal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
      path(@click="closeModal" d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z")
    .detail__content-wrap
      .detail__filter-print
      .detail__sections-print
      .detail__title {{ `Карточка товара №${detailProduct.id}` }}
      .detail__info-wrap
        .detail__fields
          table.detail__table
            thead
              tr
                th Названия полей
                th Значения полей
            tbody
              tr(
                v-for="field in detailProduct.attributes" :key="field.order"
                v-if="field.const !== 'images'"
              )
                td {{ field.name }}
                td {{ field.values.join(' ') }}
        .detail__gallery
          svg.detail__icon(
            v-if="!imagesExist"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          )
            path(d="M9 12c0-.552.448-1 1.001-1s.999.448.999 1-.446 1-.999 1-1.001-.448-1.001-1zm6.2 0l-1.7 2.6-1.3-1.6-3.2 4h10l-3.8-5zm8.8-5v14h-20v-3h-4v-15h21v4h3zm-20 9v-9h15v-2h-17v11h2zm18-7h-16v10h16v-10z")
          div#carousel(
            v-if="imagesExist"
          )
            div.carousel__slide(
              v-for="(imgLink, i) in detailProductImages" :key="i"
              :data-src="imgLink"
              data-fancybox="gallery"
            )
              img.carousel__img(:src="imgLink")
          div.detail__img-print-wrap(
            v-if="imagesExist"
          )
            img.detail__img-print(
              v-for="(imgLink, i) in detailProductImages" :key="i"
              :src="imgLink"
            )
      .detail__btn-wrap
        button.detail__btn(@click="print") распечатать
        a.detail__btn(:href="detailProduct.links.product" target="_blank") перейти в товар
        a.detail__btn(:href="detailProduct.links.createDeal" target="_blank") создать сделку
        //- button.detail__btn(@click="addToFavorites") добавить в избранное
        button.detail__btn(@click="closeModal") закрыть
      h4.bound-fields__subtitle.bound-fields__subtitle--error {{ errorMessage }}
      h4.bound-fields__subtitle(v-if="!requestState && errorMessage") {{ fatalErrorMessage }}
  Spinner(:state="spinnerState")
</template>

<script>
import { defineComponent, ref, useStore, computed, watch } from '@nuxtjs/composition-api'
import { Fancybox, Carousel } from '@fancyapps/ui' // Fancybox don't work with TypeScript!
import '@fancyapps/ui/dist/fancybox.css'
import Spinner from '@/components/ui/Spinner.vue'
import Printer from '@/composables/Printer'

export default defineComponent({
  components: {
    Spinner
  },
  setup() {
    const store = useStore()
    const spinnerState = ref(false)
    const requestState = ref(false)
    const detailProductState = computed(() => store.getters.getDetailProductState)
    const detailProductId = computed(() => store.getters.getDetailProductId)
    const detailProduct = ref([])
    const errorMessage = ref('')
    const fatalErrorMessage = ref('')
    const imagesExist = computed(() => {
      for (let i = 0; i < detailProduct.value.attributes.length; i++) {
        if (
          detailProduct.value.attributes[i].const === 'images' &&
          detailProduct.value.attributes[i].values.length > 0
        ) {
          return true
        }
      }

      return false
    })
    const detailProductImages = computed(() => {
      for (let i = 0; i < detailProduct.value.attributes.length; i++) {
        if (
          detailProduct.value.attributes[i].const === 'images' &&
          detailProduct.value.attributes[i].values.length > 0
        ) {
          return detailProduct.value.attributes[i].values
        }
      }

      return []
    })

    const toggleSpinner = () => {
      spinnerState.value = !spinnerState.value
    }

    const requestDetailProduct = async () => {
      await store.dispatch('sendRequest', {
        method: 'GET',
        url: `${store.getters.getApiUrl}/visuals/products/${detailProductId.value}`,
        successCallback,
        errorCallback
      })
    }

    const successCallback = ({ data }) => {
      requestState.value = true
      detailProduct.value = data.data

      if (process.browser) {
        setTimeout(() => {
          const carousel = document.querySelector('#carousel')

          if (carousel) {
            new Carousel(carousel, { Dots: false })
          }
        }, 0)
      }
    }

    const errorCallback = async error => {
      if (error.response?.data?.messages?.info.length > 0) {
        errorMessage.value = error.response.data.messages.info.join(', ')
        setTimeout(() => {
          errorMessage.value = ''
        }, 5000)
      } else {
        requestState.value = false
        fatalErrorMessage.value = 'Произошла ошибка'
      }
    }

    watch(detailProductState, (currentValue, _) => {
      if (process.browser) {
        const products = document.querySelector('.products')

        if (products && currentValue) {
          products.style.display = 'none'
        } else if (products && !currentValue) {
          products.style.display = 'block'
        }
      }
    })

    watch(detailProductId, async (currentValue, _) => {
      if (currentValue !== 0) {
        requestState.value = false
        toggleSpinner()
        await requestDetailProduct()
        toggleSpinner()
      }
    })

    const closeModal = () => {
      store.commit('setDetailProductState', false)
      store.commit('setDetailProductId', 0)

      if (process.browser) {
        document.body.style.overflow = 'auto'
      }
    }

    const print = () => {
      Printer.execute('detail')
    }

    return {
      detailProductState,
      requestState,
      spinnerState,
      imagesExist,
      detailProduct,
      detailProductImages,
      errorMessage,
      fatalErrorMessage,
      closeModal,
      print
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss/';

.detail {
  @extend %modal;
  @include flex(center, flex-start);
  @include space(padding, top, 3vw);
  @include space(padding, bottom, 3vw);
  @include space(padding, left, 1vw);
  @include space(padding, right, 1vw);
  overflow: auto;

  &__x {
    @include size(height, 1vw);
    fill: rgba(0, 0, 0, 0.6);
    transition: $transition;
    position: absolute;
    top: -1vw;
    right: -1vw;
    cursor: pointer;

    @media (max-width: map-get($breakpoints, tablet)) {
      top: calc(-1vw * $tablet-ratio);
      right: calc(-1vw * $tablet-ratio);
    }

    @media (max-width: map-get($breakpoints, mobile)) {
      top: calc(-1vw * $mobile-ratio);
      right: calc(-1vw * $mobile-ratio);
    }

    @media print {
      display: none;
    }

    &:hover {
      fill: rgba(0, 0, 0, 0.8);
      transition: $transition;
    }
  }

  &__content {
    @extend %card;
    position: relative;
    width: 75%;

    @media (max-width: map-get($breakpoints, tablet)) {
      width: 100%;
    }

    @media (max-width: map-get($breakpoints, mobile)) {
      padding: 4vw;
    }

    @media print {
      padding: 5mm;
      box-shadow: none;
      width: 100%;
    }

    &-wrap {
      @include flex(center, center, column, 1vw);

      @media print {
        row-gap: 3mm;
      }
    }
  }

  &__filter-print {
    display: none;

    @media print {
      display: grid;
      grid-template-columns: repeat(4, 46mm);
      grid-gap: 2mm;
      padding: 1mm;
      font-size: 3.5mm;
      color: #000;
      font-weight: 700;
    }
  }

  &__sections-print {
    display: none;

    @media print {
      display: grid;
      grid-template-columns: repeat(4, 46mm);
      grid-gap: 2mm;
      padding: 1mm;
      font-size: 3.5mm;
      color: #000;
      font-weight: 700;
    }
  }

  &__title {
    @extend %title;
    @include size(font, 2vw);
    text-align: center;

    @media print {
      font-size: 6mm;
      color: #000;
    }
  }

  &__info-wrap {
    @include grid(2, 1vw);
    width: 100%;

    @media print {
      display: block;
    }
  }

  &__table {
    @extend %table;

    @media print {
      thead tr th {
        background-color: transparent;
        color: #000;
        border: 1px solid #000;
        padding: 2mm;
        font-size: 3mm;
      }

      tbody tr td {
        color: #000;
        border: 1px solid #000;
        padding: 2mm;
        font-size: 3mm;
      }
    }
  }

  &__gallery {
    @include flex();
    width: 100%;
  }

  &__icon {
    height: 80%;
    fill: var(--main-nav-color);

    @media print {
      display: none;
    }
  }

  &__img-print-wrap {
    display: none;

    img {
      @media print {
        width: 100mm;
      }
    }

    @media print {
      padding: 5mm;
      display: grid;
      grid-template-columns: repeat(2, 100mm);
    }
  }

  &__btn-wrap {
    @include flex(center, center, row, 1vw);

    @media (max-width: map-get($breakpoints, tablet)) {
      @include flex(center, center, column, 1vw);
    }

    @media print {
      display: none;
    }
  }

  &__btn {
    @extend %btn;
    text-decoration: none;
  }

  @media print {
    overflow: hidden;
    padding: 0;
    width: 210mm;
    height: auto;
    display: block;
  }
}

#carousel {
  position: relative;

  --carousel-button-color: #170724;
  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;

  @media print {
    display: none;
  }

  .carousel {
    &__slide {
      @include flex();
      width: 100%;
    }

    &__img {
      width: 100%;
    }
  }
}
</style>
