<template lang="pug">
section.filter(v-if="filters.length > 0")
  form.filter__form(v-if="filterLoaded" @submit.prevent="submitFilter(true)")
    h2.filter__title Фильтр товаров
    .filter__wrap
      .filter__input-group(v-for="(filter, i) in filters" :key="i")
        label.filter__label {{ filter.attributes.name }}
        input.filter__input(
          v-if="filter.attributes.type === 'string'"
          :name="filter.attributes.name"
          type="text"
          v-model="filter.attributes.value"
        )
        input.filter__input(
          v-else-if="filter.attributes.type === 'double' || filter.attributes.type === 'integer'"
          :name="filter.attributes.name"
          type="number"
          pattern="^[0-9]+$"
          v-model="filter.attributes.value"
        )
    .filter__error {{ filterError }}
    .filter__btn-wrap
      button.filter__btn(type="submit") Поиск по фильтру
      button.filter__btn(type="button" @click="resetFilter") Сброс фильтра
  h2.filter__title(v-if="!spinnerState && !filterLoaded") {{ errorMessage }}
  Spinner(:state="spinnerState")
</template>

<script lang="ts">
import {
  defineComponent,
  Ref,
  ComputedRef,
  ref,
  useStore,
  computed,
  onMounted,
  watch
} from '@nuxtjs/composition-api'
import Spinner from '@/components/ui/Spinner.vue'
import { EProgramContext, EProgramEssence, EMethod } from '@/enums'
import IResponse from '@/interfaces/api/response/IResponse'
import IDataObj from '@/interfaces/api/response/IDataObj'
import IFilter from '@/interfaces/api/request/IFilter'

export default defineComponent({
  components: {
    Spinner
  },
  setup() {
    const store = useStore()
    const spinnerState: Ref<boolean> = ref(false)
    const filterLoaded: Ref<boolean> = ref(false)
    const filters: Ref<IDataObj[]> = ref([])
    const currentSection: ComputedRef<number> = computed(() =>
      parseInt(store.getters.getCurrentSection)
    )
    const filterError: Ref<string> = ref('')
    const errorMessage: Ref<string> = ref('')

    const toggleSpinner = (): void => {
      spinnerState.value = !spinnerState.value
    }

    const requestFilter = async (): Promise<void> => {
      await store.dispatch('sendRequest', {
        method: EMethod.GET,
        url: `${store.getters.getApiUrl}/${EProgramContext.visuals}/${EProgramEssence.filter}`,
        successCallback,
        errorCallback
      })
    }

    const successCallback = ({ data }: IResponse) => {
      filterLoaded.value = true
      filters.value = data.data
      store.commit('setFilterRequest', { sectionId: currentSection.value })
    }

    const errorCallback = (error: any) => {
      if (error.response?.data?.messages?.info.length > 0) {
        errorMessage.value = error.response.data.messages.info.join(', ')
        setTimeout(() => {
          errorMessage.value = ''
        }, 5000)
      } else {
        filterLoaded.value = false
        errorMessage.value = 'Произошла ошибка'
      }
    }

    onMounted(async () => {
      toggleSpinner()
      await requestFilter()
      toggleSpinner()
    })

    const resetFilter = (): void => {
      for (let i = 0; i < filters.value.length; i++) {
        filters.value[i].attributes.value = ''
      }

      store.commit('setFilterRequest', { sectionId: currentSection.value })
      store.commit('setFilterReset', true)
    }

    const submitFilter = async (submitFlag: boolean): Promise<void> => {
      const filter: IFilter = {
        sectionId: currentSection.value
      }

      for (let i = 0; i < filters.value.length; i++) {
        if (filters.value[i].attributes.value) {
          filter[filters.value[i].attributes.const] = filters.value[i].attributes.value
        }
      }

      store.commit('setFilterRequest', filter)
      store.commit('setFilterSubmitted', submitFlag)
    }

    watch(currentSection, (currentValue, oldValue) => {
      if (currentValue != oldValue) {
        submitFilter(false)
      }
    })

    return {
      spinnerState,
      filterLoaded,
      filters,
      filterError,
      errorMessage,
      submitFilter,
      resetFilter
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss/';

.filter {
  @extend %container;
  @include space(margin, bottom, 4vw);

  &__form {
    @extend %card;

    @media (max-width: map-get($breakpoints, mobile)) {
      padding: 4vw;
    }
  }

  &__title {
    @extend %title;
    @include space(margin, bottom, 2vw);
    text-align: center;
  }

  &__error {
    @extend %title;
    text-align: center;
  }

  &__wrap {
    @include grid(4, 2vw);
    @include space(margin, bottom, 2vw);
  }

  &__input-group {
    @include flex(center, center, column, 0.5vw);
  }

  &__label {
    color: var(--main-nav-color);
  }

  &__input {
    @extend %input;

    @media (max-width: map-get($breakpoints, mobile)) {
      padding: 2vw;
    }
  }

  &__btn-wrap {
    @include flex(center, center, row, 1vw);

    @media (max-width: map-get($breakpoints, mobile)) {
      @include flex(center, center, column, 1vw);
    }
  }

  &__btn {
    @extend %btn;
  }

  @media print {
    display: none;
  }
}
</style>
