<template lang="pug">
section.products
  .products__filter-print
  .products__sections-print
  .products__wrap(v-if="productsExists")
    .products__minicard(
      v-for="(product, i) in products" :key="i"
      :product-id="product.id"
      @click="openDetailProduct($event)"
    )
      table.products__table(:product-id="product.id")
        thead(:product-id="product.id")
          tr(:product-id="product.id")
            th(:product-id="product.id") поле
            th(:product-id="product.id") значение
        tbody(:product-id="product.id")
          tr.products__product-details(
            v-for="(attribute, j) in product.attributes" :key="j"
            :product-id="product.id"
          )
            td(:product-id="product.id") {{ attribute.name }}
            td(v-for="(value, k) in attribute.values" :key="k" :product-id="product.id") {{ value }}
  h2.products__title(v-else-if="!productsExists && !spinnerState") {{ errorMessage }}
  nav.products__print(v-if="productsExists")
    button.products__print-btn(@click="print")
      svg.products__print-btn-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
        path(d="M16 18h-8v-1h8v1zm-2 1h-6v1h6v-1zm10-14v13h-4v6h-16v-6h-4v-13h4v-5h16v5h4zm-18 0h12v-3h-12v3zm12 10h-12v7h12v-7zm4-8h-20v9h2v-3h16v3h2v-9zm-1.5 1c-.276 0-.5.224-.5.5s.224.5.5.5.5-.224.5-.5-.224-.5-.5-.5z")
  Pagination(
    :state="paginationState"
    :current-page="currentPage"
    :page-count="pageCount"
    :total="totalProducts"
    @firstPage="firstPage"
    @selectPage="changePage"
    @lastPage="lastPage"
  )
  Spinner(:state="spinnerState")
</template>

<script lang="ts">
import {
  defineComponent,
  Ref,
  ComputedRef,
  ref,
  useStore,
  onMounted,
  watch,
  computed
} from '@nuxtjs/composition-api'
import Pagination from '@/components/ui/Pagination.vue'
import Spinner from '@/components/ui/Spinner.vue'
import Printer from '@/composables/Printer'
import { EProgramContext, EProgramEssence, EMethod } from '@/enums'
import IResponse from '@/interfaces/api/response/IResponse'
import IDataObj from '@/interfaces/api/response/IDataObj'
import IFilter from '@/interfaces/api/request/IFilter'

export default defineComponent({
  components: {
    Pagination,
    Spinner
  },
  setup() {
    const store = useStore()
    const spinnerState: Ref<boolean> = ref(false)
    const paginationState: Ref<boolean> = ref(false)
    const currentPage: Ref<number> = ref(1)
    const pageCount: Ref<number> = ref(1)
    const totalProducts: Ref<number> = ref(0)
    const productsExists: Ref<boolean> = ref(false)
    const products: Ref<IDataObj[]> = ref([])
    const errorMessage: Ref<string> = ref('')
    const currentSection: ComputedRef<number> = computed(() => store.getters.getCurrentSection)
    const sectionRefresh: ComputedRef<boolean> = computed(() => store.getters.getSectionRefresh)
    const detailProductState: ComputedRef<number> = computed(
      () => store.getters.getDetailProductState
    )
    const filterSubmitted: ComputedRef<boolean> = computed(() => store.getters.getFilterSubmitted)
    const filterReset: ComputedRef<boolean> = computed(() => store.getters.getFilterReset)
    const filterRequest: ComputedRef<IFilter> = computed(() => store.getters.getFilterRequest)

    const toggleSpinner = (): void => {
      spinnerState.value = !spinnerState.value
    }

    const requestProducts = async (data: IFilter = {}): Promise<void> => {
      await store.dispatch('sendRequest', {
        method: EMethod.POST,
        url: `${store.getters.getApiUrl}/${EProgramContext.visuals}/${EProgramEssence.products}/${currentPage.value}`,
        data,
        successCallback,
        errorCallback
      })
    }

    const successCallback = ({ data }: IResponse): void => {
      products.value = data.data

      if (data.pagination) {
        currentPage.value = data.pagination.currentPage
        pageCount.value = data.pagination.pageCount
        totalProducts.value = data.pagination.total
      }

      if (pageCount.value > 1) {
        paginationState.value = true
      } else {
        paginationState.value = false
      }

      if (data.data.length > 0) {
        productsExists.value = true
      } else {
        productsExists.value = false
        errorMessage.value = 'Товары не найдены'
      }
    }

    const errorCallback = async (error: any): Promise<void> => {
      if (error.response?.data?.messages?.info.length > 0) {
        errorMessage.value = error.response.data.messages.info.join(', ')
        setTimeout(() => {
          errorMessage.value = ''
        }, 5000)
      } else {
        productsExists.value = false
        errorMessage.value = 'Произошла ошибка'
      }
    }

    onMounted(async () => {
      store.commit('setCurrentSection', 0)
      toggleSpinner()
      await requestProducts({ sectionId: currentSection.value })
      toggleSpinner()
    })

    const firstPage = async (): Promise<void> => {
      productsExists.value = false
      paginationState.value = false
      currentPage.value = 1

      toggleSpinner()
      await requestProducts(filterRequest.value)
      toggleSpinner()
    }

    const changePage = async (event: any): Promise<void> => {
      productsExists.value = false
      paginationState.value = false
      currentPage.value = parseInt(event.target.getAttribute('page'))

      toggleSpinner()
      await requestProducts(filterRequest.value)
      toggleSpinner()
    }

    const lastPage = async (): Promise<void> => {
      productsExists.value = false
      paginationState.value = false
      currentPage.value = pageCount.value

      toggleSpinner()
      await requestProducts(filterRequest.value)
      toggleSpinner()
    }

    const openDetailProduct = (event: any): void => {
      store.commit('setDetailProductId', parseInt(event.target.getAttribute('product-id')))
      store.commit('setDetailProductState', true)

      if (process.browser) {
        document.body.style.overflow = 'hidden'
      }
    }

    watch(currentSection, async (currentValue, oldValue) => {
      if (currentValue !== oldValue) {
        products.value = []
        paginationState.value = false
        currentPage.value = 1

        toggleSpinner()
        await requestProducts(filterRequest.value)
        toggleSpinner()
      }
    })

    watch(detailProductState, async (currentValue, _) => {
      if (!currentValue) {
        products.value = []
        paginationState.value = false

        toggleSpinner()
        await requestProducts(filterRequest.value)
        toggleSpinner()
      }
    })

    watch(sectionRefresh, async (currentValue, _) => {
      if (currentValue) {
        products.value = []
        paginationState.value = false
        store.commit('setSectionRefresh', false)

        toggleSpinner()
        await requestProducts(filterRequest.value)
        toggleSpinner()
      }
    })

    watch(filterSubmitted, async (currentValue, _) => {
      if (currentValue) {
        products.value = []
        currentPage.value = 1
        paginationState.value = false
        store.commit('setFilterSubmitted', false)

        toggleSpinner()
        await requestProducts(filterRequest.value)
        toggleSpinner()
      }
    })

    watch(filterReset, async (currentValue, _) => {
      if (currentValue) {
        products.value = []
        paginationState.value = false
        store.commit('setFilterReset', false)

        toggleSpinner()
        await requestProducts({ sectionId: currentSection.value })
        toggleSpinner()
      }
    })

    const print = () => {
      Printer.execute('products')
    }

    return {
      spinnerState,
      paginationState,
      currentPage,
      pageCount,
      totalProducts,
      productsExists,
      products,
      errorMessage,
      firstPage,
      changePage,
      lastPage,
      openDetailProduct,
      print
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss/';

.products {
  @extend %container;
  @include space(margin, bottom, 4vw);

  &__filter-print {
    display: none;

    @media print {
      display: grid;
      grid-template-columns: repeat(4, 46mm);
      grid-gap: 2mm;
      padding: 1mm;
      font-size: 3.5mm;
      color: #000;
      font-weight: 700;
    }
  }

  &__sections-print {
    display: none;

    @media print {
      display: grid;
      grid-template-columns: repeat(4, 46mm);
      grid-gap: 2mm;
      padding: 1mm;
      font-size: 3.5mm;
      color: #000;
      font-weight: 700;
    }
  }

  &__wrap {
    @include grid(5, 1vw);
    @include space(margin, bottom, 2vw);
    width: 100%;

    @media print {
      grid-template-columns: repeat(4, 52mm);
      grid-gap: 0;
      margin-bottom: 0;
      width: auto;
    }
  }

  &__title {
    @extend %title;
    text-align: center;
  }

  &__minicard {
    @extend %card;
    @include space(padding, all, 0.75vw);
    transition: $transition;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      transition: $transition;
    }

    @media print {
      padding: 2mm;
      border-radius: 0;
      box-shadow: none;
    }
  }

  &__table {
    @extend %table;

    thead th {
      @include size(font, 0.7vw);
      @include space(padding, all, 0.5vw);
    }

    thead {
      @media print {
        display: none;
      }
    }

    tbody td {
      @include size(font, 0.7vw);
      @include space(padding, all, 0.5vw);

      @media print {
        font-size: 3mm;
        background: transparent;
        color: #000;
        padding: 2mm;
        border: 0.2mm solid #000;
      }
    }

    tbody tr {
      @media print {
        overflow: hidden;
      }
    }

    @media print {
      display: table;
    }
  }

  &__print {
    @include size(width, 2vw);
    position: fixed;
    bottom: 1vw;
    left: 1vw;

    &-btn {
      @extend %btn;
      @include space(padding, all, 0.5vw);
      @include size(height, 2vw);
      @include size(width, 2vw);
    }

    &-btn-icon {
      fill: #fff;
    }

    @media print {
      display: none;
    }
  }

  @media print {
    margin-bottom: 0;
    width: auto;
  }
}
</style>
