<template lang="pug">
section.sections
  button(
    v-if="sectionsExists"
    :class="currentSection === 0 ? 'sections__btn sections__btn--disabled sections__root-btn' : 'sections__btn sections__root-btn'"
    :disabled="currentSection === 0 ? true : false"
    @click="moveToRoot"
    ) сбросить вложенность
  .sections__wrap(v-if="sectionsExists")
    .sections__level(v-for="(section, i) in sections" :key="i")
      button.sections__btn(
        v-for="(folder, j) in section" :key="j"
        :folder-id="folder.id"
        :section-id="folder.attributes.sectionId"
        @click="toggleSection($event)"
      ) {{ folder.attributes.name }}
  h2.sections__title(v-else-if="!sectionsExists && !spinnerState") {{ errorMessage }}
  Spinner(:state="spinnerState")
</template>

<script lang="ts">
import {
  defineComponent,
  Ref,
  ComputedRef,
  ref,
  onMounted,
  useStore,
  computed
} from '@nuxtjs/composition-api'
import Spinner from '@/components/ui/Spinner.vue'
import { EProgramContext, EProgramEssence, EMethod } from '@/enums'
import IResponse from '@/interfaces/api/response/IResponse'
import IDataObj from '@/interfaces/api/response/IDataObj'

export default defineComponent({
  components: {
    Spinner
  },
  setup() {
    const store = useStore()
    const spinnerState: Ref<boolean> = ref(false)
    const sectionsExists: Ref<boolean> = ref(false)
    const currentSection: ComputedRef<number> = computed(() => store.getters.getCurrentSection)
    const sections: Ref<Array<IDataObj[]>> = ref([])
    const errorMessage: Ref<string> = ref('')

    const toggleSpinner = (): void => {
      spinnerState.value = !spinnerState.value
    }

    const numerateSections = (): void => {
      const sectionsLevel = document.querySelectorAll('.sections__level')

      for (let i = 0; i < sectionsLevel.length; i++) {
        let sectionBtns = sectionsLevel[i].querySelectorAll('.sections__btn')

        for (let j = 0; j < sectionBtns.length; j++) {
          sectionBtns[j].setAttribute('level', i.toString())
        }
      }
    }

    const requestSections = async (): Promise<void> => {
      await store.dispatch('sendRequest', {
        method: EMethod.GET,
        url: `${store.getters.getApiUrl}/${EProgramContext.visuals}/${EProgramEssence.sections}/${currentSection.value}`,
        successCallback,
        errorCallback
      })
    }

    const successCallback = ({ data }: IResponse) => {
      if (data.data.length > 0) {
        sections.value.push(data.data)
      }

      if (sections.value.length > 0) {
        sectionsExists.value = true
      } else {
        sectionsExists.value = false
        errorMessage.value = 'Cекции не найдены'
      }
    }

    const errorCallback = async (error: any) => {
      if (error.response?.data?.messages?.info.length > 0) {
        errorMessage.value = error.response.data.messages.info.join(', ')
        setTimeout(() => {
          errorMessage.value = ''
        }, 5000)
      } else {
        sectionsExists.value = false
        errorMessage.value = 'Произошла ошибка'
      }
    }

    onMounted(async () => {
      store.commit('setCurrentSection', 0)
      toggleSpinner()
      await requestSections()
      toggleSpinner()
      numerateSections()
    })

    const moveToRoot = async (): Promise<void> => {
      sections.value = []
      store.commit('setCurrentSection', 0)
      toggleSpinner()
      await requestSections()
      toggleSpinner()
      numerateSections()
    }

    const toggleSection = async (event: any): Promise<void> => {
      toggleSpinner()
      event.target.classList.add('sections__btn--active')
      const btns = document.querySelectorAll('.sections__btn')

      for (let i = 0; i < btns.length; i++) {
        if (
          btns[i].getAttribute('section-id') === event.target.getAttribute('section-id') &&
          btns[i] !== event.target
        ) {
          btns[i].classList.remove('sections__btn--active')
        }

        btns[i].setAttribute('disabled', 'true')
        btns[i].classList.add('sections__btn--disabled')
      }

      if (event.target.getAttribute('level') < sections.value.length - 1) {
        sections.value.length = parseInt(event.target.getAttribute('level')) + 1
      }

      if (currentSection.value === parseInt(event.target.getAttribute('folder-id'))) {
        store.commit('setSectionRefresh', true)
      }

      store.commit('setCurrentSection', parseInt(event.target.getAttribute('folder-id')))

      await requestSections()
      toggleSpinner()
      numerateSections()

      for (let i = 0; i < btns.length; i++) {
        btns[i].removeAttribute('disabled')
        btns[i].classList.remove('sections__btn--disabled')
      }
    }

    return {
      spinnerState,
      sectionsExists,
      currentSection,
      errorMessage,
      sections,
      moveToRoot,
      toggleSection
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss/';

.sections {
  @extend %container;
  margin: 0 auto;
  @include space(margin, bottom, 4vw);

  &__root-btn {
    width: auto !important;
    display: block;
    margin: 0 auto;
    @include space(margin, bottom, 1vw);

    @media print {
      display: none;
    }
  }

  &__wrap {
    @include flex(center, center, column, 0.5vw);
    width: 100%;
  }

  &__level {
    @include grid(6, 1vw);
    border: solid var(--main-nav-color);
    @include size(border-width, 0.2vw);
    @include size(border-radius, 0.5vw);
    @include space(padding, all, 1vw);
    width: 100%;
  }

  &__btn {
    @extend %btn;
    width: 100%;

    &--active {
      @extend %btn--active;
    }

    &--disabled {
      @extend %btn--disabled;
    }
  }

  &__title {
    @extend %title;
    text-align: center;
  }

  @media print {
    display: none;
  }
}
</style>
